body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  font-weight: bold;
  color: #000000;
}
p {
  font-family: "Poppins";
  font-weight: normal;
  color: #272142;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
  margin: 0;
}
.hero h1 {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #272142;
  font-family: "Poppins";
  margin: 10px;
}

.btnPrimary {
  background: #6c63ff;
  border-radius: 4px;
  padding: 18px 30px;
  gap: 10px;
  border: none;
  outline: none;
}

.hero a {
  color: #ffffff;
  text-decoration: none;
}

.nav-link {
  gap: 10px;
}

.nav-link li {
  list-style: none;
}

a {
  text-decoration: none;
}

.row h2 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.row p {
  color: #272142;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.btn {
  border-radius: 4px;
  border: 1px solid #6c63ff;
  padding: 15px 25px;
  text-align: center;
  color: #6c63ff;
  font-size: 16px;
  margin-top: 20px;
}

.btn:hover,
.btn:active,
.btn:focus {
  border: 1px solid #6c63ff;
  outline: #6c63ff;
  color: #000000;
}

.text-descripiton {
  margin-top: 20px;
  padding: 15px;
  line-height: 30px;
}

/* about page */

.content-container {
  padding: 100px 20px;
}

.content {
  margin-left: 30px;
}

.content-container h1 {
  font-size: 50px;
  line-height: normal;
}

.content-container h2 {
  font-size: 18px;
  color: #272142;
}

.content p {
  color: rgba(39, 33, 66, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
  margin: 20px 0;
}

.work-enquiry {
  background: #f9f7fe;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
}

.work-enquiry h2,
.work-enquiry p {
  text-align: center;
  margin: 25px;
}

.work-container {
  padding: 0px 30px;
}

.work-container img {
  width: 400px;
  height: 200px;
  border-radius: 20px;
}

.work-content h2,
.work-content p {
  text-align: center;
  margin-top: 10px;
}

.work-content p {
  color: #272142;
}

.socials a:hover {
  color: #6c63ff;
  transition: all 100ms ease-in;
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav ul li {
  list-style: none;
  display: inline;
  margin-top: 50px;
  margin-left: 15px;
  line-height: 42px;
}

.nav ul li a {
  color: #272142;
  transition: all 100ms ease-in-out;
  font-size: 16px;
  font-family: "Poppins";
}

.nav ul li a:hover,
.nav ul li a.active {
  color: #6c63ff;
}

@media screen and (max-width: 576px) {
  .col p {
    text-align: center;
    line-height: 1.5;
  }

  .btn {
    display: block;
    margin: 10px auto;
    width: 90%;
  }
  h1 {
    font-size: 30px;
    line-height: 1;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    padding: 0;
  }

  .content-container img {
    height: 300px;
    width: 300px;
    display: block;
    margin: 20px auto;
  }
  .work-enquiry {
    padding: 0;
  }

  .work-content {
    margin: 20px;
  }

  .work-content img {
    height: 200px;
    width: 280px;
    display: block;
    margin: 20px auto;
  }

  .img-container {
    background: #f9f7fe;
    margin: 20px 5px;
    padding: 7px;
    border-radius: 7px;
  }

  .nav h6 {
    margin-top: 12px;
  }
  .nav ul li {
    margin-left: 10px;
  }
}
